<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Plugins/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/Plugins/sweetalert/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/Plugins/fontawesome/css/all.min.css" />

    <style>
        .spanDropdown {
            color: #9d9d9d;
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 20px;
            cursor: pointer;
        }

            .spanDropdown:hover {
                color: white;
            }

        .spanDropdown__caret {
            cursor: pointer;
        }

        .swal2-popup {
            font-size: 16px !important;
        }

        .spanUsuarioEmail {
            color: #9d9d9d;
        }

            .spanUsuarioEmail:hover {
                color: white;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GraniteSys Administrativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">

                        <span class="spanDropdown dropdown-toggle" data-toggle="dropdown">
                            Configurações
                            <span class="caret spanDropdown__caret"></span>
                        </span>
                        <ul class="dropdown-menu">

                            <li>
                                @Html.ActionLink("Países", "Index", "Pais")
                            </li>

                            <li>
                                @Html.ActionLink("Estados", "Index", "Estado")
                            </li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>

                    <li class="dropdown">
                        <span class="spanDropdown dropdown-toggle" data-toggle="dropdown">
                            Financeiro
                            <span class="caret spanDropdown__caret"></span>
                        </span>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/ContaBancaria/">Conta Bancária</a>
                            </li>
                            <li>
                                <a href="/ServicoFinanceiro/">Serviço Financeiro</a>
                            </li>
                            <li>
                                <a href="/FichaFinanceira/">Ficha Financeira</a>
                            </li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Sistemas", "Index", "Sistema")</li>

                    <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                </ul>

                <ul class="nav navbar-nav pull-right">

                    <li class="dropdown">
                        <span class="spanDropdown dropdown-toggle" data-toggle="dropdown">
                            <span class="spanUsuarioEmail">@ViewBag.UsuarioEmail</span>
                            <span class="caret spanDropdown__caret"></span>
                        </span>
                        <ul class="dropdown-menu">
                            <li> <a href="/Account/LogOut">Log Out</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="~/Plugins/waitMe/waitMe.min.js"></script>
    <script type="text/javascript" src="~/Plugins/sweetalert/dist/sweetalert2.all.min.js"></script>

    <script type="text/javascript" src="~/Plugins/fontawesome/js/all.min.js"></script>

    <script type="text/javascript" src="~/Scripts/masterPage.js"></script>

</body>
</html>
